/* --------------------------------------------- Events Page Styling */
.main-heading-container {
  text-align: center;
  margin-top: 100px;
}

.music-events-container {
  /* RGBA value rgb(74, 41, 140)*/
  background-color: #4a298c;
  padding-bottom: 10px;
}

.school-events-container {
  /* RGBA value rgb(242, 154, 46)*/
  background-color: #f29a2e;
  padding-bottom: 10px;
}

.corporate-events-container {
  /* RGBA value rgb(24, 163, 79)*/
  background-color: #18a34f;
  padding-bottom: 10px;
}

main h2 {
  color: #fff;
  padding: 10px;
}

.event-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.event-image-container > .card {
  width: 600px;
  height: 500px;
  margin: 10px;
  border: none;
  border-radius: 15px;
}

.event-image-container .card-img-top {
  object-fit: cover;
  min-height: 80%;
  height: 100%;
}

.event-image-container .card-body {
  border-top: 10px solid;
  border-image: linear-gradient(to right,
              #03a1da 0,
              #1b4ea1 10%,
              #4a298c 20%,
              #911c8d 30%,
              #f21b91 40%,
              #eb1b41 50%,
              #fb702d 60%,
              #f29a2e 70%,
              #f2d22e 80%,
              #18a34f 90%) 10;
  
/* stepped version of border
border-image:linear-gradient(to right,
#03a1da 0, #03a1da 10%,
#1b4ea1 10%, #1b4ea1 20%,
#4a298c 20%, #4a298c 30%,
#911c8d 30%, #911c8d 40%,
#f21b91 40%, #f21b91 50%,
#eb1b41 50%, #eb1b41 60%,
#fb702d 60%, #fb702d 70%,
#f29a2e 70%, #f29a2e 80%,
#f2d22e 80%, #f2d22e 90%,
#18a34f 90%, #18a34f 100%) 10; */
}

.testimonials {
  margin-bottom: 100px;
}

.testimonials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.testimonials-container > .card {
  height: auto;
  width: auto;
}

.testimonials-container .card-body {
  display: inline;
}

.testimonials-container img {
  border-radius: 10px;
  width: 100%;
}

.testimonials-container .col-md-8 {
  padding-left: 10px;
}

/* .card-body > h5  */
.testimonials-container .card-title {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right,
              #03a1da 0,
              #1b4ea1 10%,
              #4a298c 20%,
              #911c8d 30%,
              #f21b91 40%,
              #eb1b41 50%,
              #fb702d 60%,
              #f29a2e 70%,
              #f2d22e 80%,
              #18a34f 90%) 2;
}

@media (hover) {
  .event-image-container .card-body {
    display: none;
  }
  
  .event-image-container .card:hover .card-body {
    display: inline;
  }
}
