/************************ 
** events page styling **
************************/
.main-heading-container {
    text-align: center;
}

.music-events-container {
    background-color: #4a298c;
}

.school-events-container {
    background-color: #f29a2e;
}

.corporate-events-container {
    background-color: #18a34f;
}

main h2 {
    color: #fff;
    padding: 10px;

}

.event-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.card {
    width: 600px;
    height: 500px;
    margin: 10px;
    border: none;
    border-radius: 15px;
}

.card-img-top {
    object-fit: cover;
    min-height: 80%;
    height: 100%;
}

.card-body {
    display: none;
}

.card:hover .card-body {
    display: inline;
    border-top: 10px solid;
    border-image: linear-gradient(to right,
                #03a1da 0,
                #1b4ea1 10%,
                #4a298c 20%,
                #911c8d 30%,
                #f21b91 40%,
                #eb1b41 50%,
                #fb702d 60%,
                #f29a2e 70%,
                #f2d22e 80%,
                #18a34f 90%) 10;
    
  /* stepped version of border
  border-image:linear-gradient(to right,
  #03a1da 0, #03a1da 10%,
  #1b4ea1 10%, #1b4ea1 20%,
  #4a298c 20%, #4a298c 30%,
  #911c8d 30%, #911c8d 40%,
  #f21b91 40%, #f21b91 50%,
  #eb1b41 50%, #eb1b41 60%,
  #fb702d 60%, #fb702d 70%,
  #f29a2e 70%, #f29a2e 80%,
  #f2d22e 80%, #f2d22e 90%,
  #18a34f 90%, #18a34f 100%) 10; */
}

.testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.testimonials-container > .card {
    height: auto;
    width: auto;
}

.testimonials-container .card-body {
    display: inline;
}

.testimonials-container img {
    border-radius: 10px;
    width: 100%;
}

.testimonials-container .col-md-8 {
    padding-left: 10px;
}

.card-body > h5 {
    border-bottom: 2px solid;
    border-image: linear-gradient(to right,
                #03a1da 0,
                #1b4ea1 10%,
                #4a298c 20%,
                #911c8d 30%,
                #f21b91 40%,
                #eb1b41 50%,
                #fb702d 60%,
                #f29a2e 70%,
                #f2d22e 80%,
                #18a34f 90%) 2;
}