@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* --------------------------------------------- Global styles */
* {
    margin: 0;
    padding: 0;
}


/* --------------------------------------------- Centre content */
.centre-content {
    width: auto !important;
}

/* --------------------------------------------- Footer */
footer nav {
    width: 100%;
    height: 70px !important;
}

.social-text {
    color: #fff !important;
    width: 50%;
    padding-left: 15px;
}

.social {
    color: #fff;
    font-size: 30px;
}

.social-media {
    letter-spacing: 15px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    width: 50%;
}

.social-media a:hover {
    color: #fff;
}

/* --------------------------------------------- Media Queries */
@media screen and (max-width: 495px) {
    .social-media {
        letter-spacing: 0px;
    }

    .social-media a i {
        padding-left: 0px !important;
    }

    .navbar-text {
        width: 70%;
    }
    
    .social-text {
        font-size: 12px;
    }
}