@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* --------------------------------------------- Global styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

/* --------------------------------------------- Centre content */
.centre-content {
    width: auto !important;
}

/* --------------------------------------------- SVG colors */
#heart path:nth-child(1) {
    fill: #FF0000;
}

#heart path:nth-child(2) {
    fill: #FF7F00;
    animation-delay: 0.2s;
}

#heart path:nth-child(3) {
    fill: #FFFF00;
    animation-delay: 0.4s;
}

#heart path:nth-child(4) {
    fill: #00FF00;
    animation-delay: 0.6s;
}

#heart path:nth-child(5) {
    fill: #0000FF;
    animation-delay: 0.8s;
}

#heart path:nth-child(6) {
    fill: #9400D3;
    animation-delay: 1s;
}

/* --------------------------------------------- Home Page */
.banner-image {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    padding: 0;
    min-height: 100vh
}

/* --------------------------------------------- Contact Form */
.main-container {
    min-height: calc(100vh - 70px - 70px);
    margin-top: 100px;
}

#form div label {
    margin-left: 1rem;
}

.form-check {
    padding-left: 2.5rem !important;
}

/* --------------------------------------------- Footer */
footer {
    width: 100%;
    height: 70px !important;
}

.social-text {
    color: #fff !important;
    width: 50%;
    padding-left: 15px;
}

.social {
    color: #fff;
    font-size: 30px;
}

.social-media {
    letter-spacing: 15px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    width: 50%;
}

.social-media a:hover {
    color: #fff;
}

/* --------------------------------------------- Media Queries */
@media screen and (max-width: 495px) {
    .social-media {
        letter-spacing: 0px;
    }

    .social-media a i {
        padding-left: 0px !important;
    }

    .navbar-text {
        width: 70%;
    }
    
    .social-text {
        font-size: 12px;
    }
}