@keyframes move {
    0% {
        stroke-opacity: 1;
        fill-opacity: 0;
        transform: rotateZ(300deg) scale(0.2);
    }
    70% {
        stroke-opacity: 1;
        fill-opacity: 0;
        transform: rotateZ(0deg) scale(1);
    }
    100% {
        stroke-opacity: 0;
        fill-opacity: 1;
        transform: rotateZ(0deg) scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes background_fade_in {
    0% {
        background-color: transparent;
    }
    90% {
        background-color: transparent;
    }
    100% {
        background-color: #212529;
    }
}

@keyframes overlay {
    0% {
        width: 100vw;
        height: 100vh;
        background-color: white;
        left: 0;
    }
    90% {
        width: 100vw;
        height: 100vh;
        background-color: white;
        left: 0;
    }
    100% {
        background-color: transparent;
        width: 50px;
        height: 50px;
        left: 3rem;
        top: 1rem;
    }
}

@keyframes scale {
    0% {
        width: 90vw;
        height: 90vh;
    }
    90% {
        width: 90vw;
        height: 90vh;
    }
    100% {
        width: 50px;
        height: 50px;
    }
}

.navbar-brand {
    height: 64px;
    width: 50px;
}

.navbar  {
    animation: 4s background_fade_in ease-in-out forwards;
}

.navbar-toggler, .navbar-collapse {
    animation: 4s background_fade_in ease-in-out forwards;
}

.heart-wrapper {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    animation: 3.5s overlay ease-in-out forwards;
    overflow: visible;
}

#heart {
    animation: 3.5s scale ease-in-out forwards;
    overflow: visible;
}

#heart path {
    animation: 3.5s move ease-in-out forwards;
    transform-origin: center;
    transform-box: fill-box;
    transform: rotateZ(300deg) scale(0.2);
    fill-opacity: 0;
}

.banner-image {
    animation: 4s opacity ease-in-out forwards;
}

footer {
    animation: 4s opacity ease-in-out forwards;
}